/* khula-regular - latin */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/khula-v7-latin/khula-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/khula-v7-latin/khula-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/khula-v7-latin/khula-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/khula-v7-latin/khula-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/khula-v7-latin/khula-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/khula-v7-latin/khula-v7-latin-regular.svg#Khula') format('svg'); /* Legacy iOS */
}
/* khula-700 - latin */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/khula-v7-latin/khula-v7-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/khula-v7-latin/khula-v7-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/khula-v7-latin/khula-v7-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/khula-v7-latin/khula-v7-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./fonts/khula-v7-latin/khula-v7-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/khula-v7-latin/khula-v7-latin-700.svg#Khula') format('svg'); /* Legacy iOS */
}